#students-map{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:20px;
    width:50em;
    margin-top:0px;
    align-content: center;
    
}
#student-map-container{
    background-color:   #00000031;
    height:13rem;
    width: 23em;
    width:calc(50%-20px);
    box-sizing: border-box;
    align-content:space-between ;
   
}
.map-menu{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    
}
.map-menu > #image-container {
    height: 100px;               /* Container height */
    width: 100px;                /* Container width */
    border-radius: 50%;          /* Makes the container round */
    overflow: hidden;            /* Hide overflow */
    display: flex;               /* Enable flexbox */
    justify-content: center;     /* Center the image */
    align-items: center;         /* Vertically center the image */
    border: 1px solid black;     /* Optional border around the container */
}

.map-menu img {
    height: 100%;                /* Fill container height */
    width: 100%;                 /* Fill container width */
    border-radius: 50%;          /* Makes the image round */
    object-fit: cover;           /* Ensure the image covers the container */
}
#college-page{
    display: flex;
    flex-direction:row;


}
#college-page>button{
    margin:10px;
}
input{
    text-transform: initial;
}
#contents{
    margin-top: 350px;
    text-transform: capitalize;
    text-decoration: wavy;

}
#College>div{
   
   display: flex;
   flex-direction: row;
}
#college>div>label{
    margin-left: 0px;
    width:800px;
}
#college>div>p{
    left:70%;
}
/* college.css */

#main {
    padding: 20px;
}

#menu1 {
    margin-bottom: 20px;
}

#College {
    display: flex;
    flex-direction: column;
    gap: 10px; 
   
   
}

.college-label {
    width: 500px;
    left:0px;
    height:max-content /* Fixed width for labels */
}

p {
    margin: 0; /* Remove default margin for paragraphs */
    width: 500px; /* Fixed width for values */
}

#container-profiles-student{
    margin-top: 200px;
}
#page>button{
    margin-left:20px;
    margin-right: 20px;
}
#redButton{
    border: red;
}
#redButton:active,#redButton:hover{
    box-shadow: 1px 1px 1px 2px rgba(255, 68, 0, 0.586);
}
#college-page,#page
{
    margin:20px;
}